@keyframes slideUpFromBottom {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: .8;
    }
    }

.clarity-databox {
    animation: 2s ease-out 1s 1 slideUpFromBottom;
    position: absolute;
    top: 200px;
    width: 20%;
    left: 52%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.7);
    font-family: 'Neuton', serif;
    font-size:25px;
    color:black;
    border-radius: 25px;
}

.clarity-defintion{
    font-size: 15px;
}

@media screen and (max-width: 600px){
    .clarity-databox{
        font-size: 22px;
        height: 154px;
        top: 400px;
        left: 4%;
        width: 44%;
    }
    .clarity-data{
        font-size: 18px;
    }
}