#commentsBox{
    background-color: rgba(250, 235, 215, 0.8);
    text-align: center;
    margin-top: auto ;
    font-family: 'Neuton', serif;
    font-size:20px;
    color:black;
    border-radius: 25px;
    margin-bottom:10px;
    padding:10px;
    vertical-align: middle;
   
    
    
    

    
    
}