.temp-databox {
    position: absolute;
    top: 800px;
    width: 20%;
    left: 28%;
    text-align: center;
    height: 100px;

    background-color: rgba(250, 235, 215, 0.7);
    text-align: center;
    font-family: 'Neuton', serif;
    font-size:25px;
    color:black;
    border-radius: 25px;
}

.temp-definition {
    font-size: 15px;
}
