.mapWrapper{
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
}

.mapWrapper > div:first-child { 
    height: 100%;
    width: 50%;
    position: relative;
}