@keyframes slideUpFromBottom {
    0% {
        transform: translateY(200%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: .8;
      }
    }

/* .level-databox {
      This section calls the slideInFromLeft animation we defined above */
  /* animation: 20s ease-out 0s 1 slideUpFromBottom;
}     */

.level-databox {
    animation: 2s ease-out 0s 1 slideUpFromBottom;
    position: absolute;
    top: 200px;
    width: 20%;
    left: 4%;
    text-align: center;
    height: 100px;

    background-color: rgba(250, 235, 215, 0.7);
    text-align: center;
    font-family: 'Neuton', serif;
    font-size:25px;
    color:black;
    border-radius: 25px;
}

.level-definition{
    font-size: 15px;
}

@media screen and (max-width: 600px){
    .level-databox{
        font-size: 22px;
        height: 120px;
    }
    .level-data{
        font-size: 18px;
    }
}