.loginWrapper{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../../images/river.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

.errorBox{
    font-family: Neuton sans-serif;
    /* border-radius: 25%; */
    /* padding: 20px; */
    /* height: 30px; */
}