.NavBar {
  background: rgb(72, 72, 97);
  height: 10vh;
  display:flex;
  align-items:center;
  justify-content: space-between;
  color: black;
  font-size: 25px;
}

.NavBar li {
  display: inline;
}


